:root {
  --white: #f3f3f3;
  --black: #202020;
  --red: #ed4956;
  --colormode1: #c84219;
  --colormode1-light: #df5e37;
  --colormode1-dark: #ac3814;
  --colormode1-super-dark: #972e0e;
  --colormode1-ultra-dark: #802206;
  --colormode1-white: #ffcbbd;
  --colormode1-transparent: #c8421979;
  --colormode1-super-dark-transparent-low: #972e0eec;
  --colormode1-ultra-dark-transparent-low: #802206ee;
  --colormode2: #cc6363;
  --colormode2-light: #df8282;
  --colormode2-dark: #c75656;
  --colormode2-super-dark: #b64949;
  --colormode2-ultra-dark: #a03b3b;
  --colormode2-white: #ffc8c8;
  --colormode2-transparent: #cc636381;
  --colormode2-super-dark-transparent-low: #b64949ec;
  --colormode2-ultra-dark-transparent-low: #a03b3bee;
  --colormode3: #334b7c;
  --colormode3-light: #506796;
  --colormode3-dark: #2c4370;
  --colormode3-super-dark: #2a3a5a;
  --colormode3-ultra-dark: #212f4b;
  --colormode3-white: #cedfff;
  --colormode3-transparent: #334b7c7c;
  --colormode3-super-dark-transparent-low: #2a3a5ae7;
  --colormode3-ultra-dark-transparent-low: #212f4be8;
  --colormode4: #4891bb;
  --colormode4-light: #63abd4;
  --colormode4-dark: #3a86b3;
  --colormode4-super-dark: #2f76a0;
  --colormode4-ultra-dark: #22678f;
  --colormode4-white: #caebff;
  --colormode4-transparent: #4891bb79;
  --colormode4-super-dark-transparent-low: #2f76a0ea;
  --colormode4-ultra-dark-transparent-low: #22678fee;
  --gray0: #eeeeee;
  --gray1: #dddddd;
  --gray2: #cccccc;
  --gray3: #bbbbbb;
  --gray4: #aaaaaa;
  --gray5: #999999;
  --gray6: #888888;
  --gray7: #777777;
  --gray8: #666666;
  --gray9: #555555;
  --gray10: #444444;
  --gray11: #333333;
  --gray12: #222222;
}
