:root {
  --white: #f3f3f3;
  --black: #202020;
  --red: #cc6363;
  --color1: #95abd8;
  --color2: #7b92c0;
  --color3: #6078a8;
  --color4: #495f8c;
  --color5: #3e537c;
  --color6: #33466d;
  --color7: #253960;
  --gray0: #eeeeee;
  --gray1: #dddddd;
  --gray2: #cccccc;
  --gray3: #bbbbbb;
  --gray4: #aaaaaa;
  --gray5: #999999;
  --gray6: #888888;
  --gray7: #777777;
  --gray8: #666666;
  --gray9: #555555;
  --gray10: #444444;
  --gray11: #333333;
  --gray12: #222222;
}
