$breakpoints: (
  'xs': (
    min-width: 375px,
  ),
  'sm': (
    min-width: 576px,
  ),
  'md': (
    min-width: 768px,
  ),
  'lg': (
    min-width: 992px,
  ),
  'xl': (
    min-width: 1200px,
  ),
  'xxl': (
    min-width: 1400px,
  ),
) !default;

@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @error "指定されたブレークポイントは定義されていません。" + "指定できるブレークポイントは次のとおりです。 -> #{map-keys($breakpoints)}";
  }
}

@mixin hover() {
  /* &:focus {
    @content;
  } */

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }

  /* @at-root .ua-ie &:hover {
    @content;
  } */
}
